/*---------------------------------------------*/
/* my font */
/*---------------------------------------------*/
/*font-family: 'Open Sans', sans; */
/*font-family: 'Cormorant', serif; */

/*---------------------------------------------*/
/* globalne */
/*---------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans;
}

.container {
    width: 920px;
    margin: 0 auto;

}

.hr-gradient {
    background-image: linear-gradient(to right, #667eea, #764ba2);
    position: relative;
    height: 470px;
    margin-top: -200px;
}

.square {
    width: 53px;
    height: 170px;
    /* background-image: linear-gradient(to right, #667eea, #764ba2); */
    background: #4267B2;
    position: fixed; 
    top:150px;
    right: -40px;
    z-index:20;
    border-bottom-left-radius:24px;
    border-top-left-radius:24px;
    border: 2px solid #fff;
    transition: all .4s ease-in-out;
}

.square:hover {
    right: 0px;
}
.square-text {
    transform:rotate(90deg);
    margin-top:60px;
    margin-lefT:10px;
    color:#fff;
    font-weight: bold;
}

.square-text a {
    text-decoration: none;
    color: #fff;
}

/*---------------------------------------------*/
/* sekcja header */
/*---------------------------------------------*/

#home-page {
    border-bottom-right-radius: 200px;
    position: relative;
    z-index: 22;
    height: 600px;
    /* background-image: linear-gradient(to right, #29323c, #485563); */
    background-image: linear-gradient(to right, #42275a, #734b6d);

}

#home-page .header {
    height: 80px;
    color: #fff;
}

#home-page .logo-text {
    float: left;
    height: 20px;
    width: 200px;
    line-height: 80px;
    color: #fff;
    font-size: 35px;
    font-family: 'Allerta Stencil', sans-serif;
}

#home-page .logo-text a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all .4s ease-in-out;
}
#home-page .logo-text a:hover {
    transform: scale(1.2);
}

#home-page .nav-main {
    float: right;
}
.nav-main li {
    display: inline-block;
    color: #fff;
}


.nav-main a{
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    line-height: 80px;
    padding-left: 25px;
    transition: all .4s ease-in-out
}

.nav-main a:hover {
    transform: scale(1.2);
}

/*---------------------------------------------*/
/* about */
/*---------------------------------------------*/

.about-gradient {
    background-image: linear-gradient(to right, #fdfbfb, #ebedee);
    position: relative;
    height: 550px;
    border-bottom-right-radius: 200px;
    margin-top: -200px;
    z-index: 2;
}

.assortment-name {
    border-bottom: 2px solid #2D3742;
    width: 250px;
    margin-top: 50px;
}


/*---------------------------------------------*/
/* content */
/*---------------------------------------------*/
.container-home {
    width: 100%;
    height: 82%;
    display: flex;
    align-items: center;
}
.container-home {
    color: #fff;
}

.main-slogan {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    display:inline-block;
    margin-top: 110px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 60px;
    font-weight: 400;
    color: #fff;
}

.second-slogan {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;
}

.checkItButton {
    border:none;
    /* margin-bottom: 75px; */
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    /* background-image: linear-gradient(to right, #29323c, #485563); */
    background-image: linear-gradient(to right, #42275a, #734b6d);
    color: #fff;
    outline: none;
    transition: all .4s ease-in-out;
    box-shadow: 5px 9px 9px 0px #42275a;
    width: 215px;
}

.checkItButton:hover {
    transform: scale(1.2);
}

/*---------------------------------------------*/
/* assortment */
/*---------------------------------------------*/

.assortment-gradient {
    background-image: linear-gradient(to right, #fdfbfb, #ebedee);
    position: relative;
    height: 800px;
    border-bottom-right-radius: 200px;
    margin-top: -195px;
    z-index: 2;
}

.assortment-name {
    border-bottom: 2px solid #2D3742;
    width: 250px;
    margin-top: 50px;
}

.assortment-list {
    margin-top:60px
}


.assortment-list .assortment-text {
    font-size: 16px;
    color: rgb(24, 30, 37);
}

.assortment-list .assortment-image img {
    border-radius: 10px;
    width: 100%;
    height:auto;
}

/*---------------------------------------------*/
/* price */
/*---------------------------------------------*/

.price-gradient {
    background-image: linear-gradient(to right, #fdfbfb, #ebedee);
    position: relative;
    height: 600px;
    border-bottom-right-radius: 200px;
    margin-top: -195px;
    z-index: 2;
}

.price-name {
    border-bottom: 2px solid #2D3742;
    width: 250px;
    margin-top: 50px;
}
.price-image {
    padding-top: 50px;
    padding-right:20px;
    margin-right: 45px;
}
.price-image img {
    border-radius: 10px;
    width: 100%;
    height:auto;
}

/*---------------------------------------------*/
/* contact */
/*---------------------------------------------*/

.contact-gradient {
    background-image: linear-gradient(to right, #fdfbfb, #ebedee);
    position: relative;
    height: 735px;
    border-bottom-right-radius: 200px;
    margin-top: -195px;
    z-index: 2;
}

.contact-name {
    border-bottom: 2px solid #2D3742;
    width: 350px;
    margin-top: 50px;
}
.contact-name-map {
    border-bottom: 2px solid #2D3742;
    width: 405px;
    margin-top: 50px;
}

.name-director {
    color: #2D3742;
    font-weight: bold;
}

.contact-name-section a {
    color: #2D3742;
}

/*---------------------------------------------*/
/* footer */
/*---------------------------------------------*/

.footer-gradient {
    background-image: linear-gradient(to right, #667eea, #764ba2);
    position: relative;
    height: 250px;
    margin-top: -200px;
}